<!DOCTYPE HTML>
<html>
  <head>
  </head>
  <body>
    <h1>
      <p>
        <%= "The date is #{Time.now.strftime("%A")}, #{Time.now.strftime("%B")} #{Time.now.strftime("%d")}, #{Time.now.strftime("%Y")}" %>
      </p>
    </h1>
  </body>
</html>
